/*
 * Colors
 */

$color-primary: #3498db !default;
 
$color-bg-primary: #FFF !default;
$color-bg-primary-secondary: #e7e7e7 !default;

$color-text-primary: #222 !default;
$color-text-secondary: #848484 !default;
$color-text-negative: #FFF !default;

$color-border: #e3e3e3 !default;