/*
 * Vars
 */

$gutter: 10px !default;

$size-min-window: 320px !default;
$size-min-window-s: 576px !default;
$size-min-window-m: 768px !default;
$size-min-window-l: 1024px !default;

$border-radius-circle: 50% !default;

$size-icon: 24 !default;
$size-icon-medium: 20 !default;
$size-icon-small: 14 !default;

$time-animation: 300ms !default;