/*
 * Type
 */

// Familys
$font-family: "Roboto", sans-serif !default;
$font-family-brand: "Pacifico", cursive !default;

// Sizes
$font-size-default: 16 !default;
$font-size-default-2: 18 !default;
$font-size-default-3: 24 !default;
$font-size-default-4: 28 !default;
$font-size-default-5: 30 !default;
$font-size-default-6: 42 !default;
$font-size-default-7: 72 !default;

// Weight
$font-weight-bold: 700 !default;
$font-weight-regular: 400 !default;