/*
 * Typography
 */

.display-2 {
  margin: 0 0 $space-3 0;
  @include font-size($font-size-default-5);
  font-weight: $font-weight-bold;
}

.display-3 {
  margin: 0 0 $space-3 0;
  @include font-size($font-size-default-3);
}

p, .p {
  @include font-size($font-size-default);
  color: $color-text-secondary;
  margin: 0 0 $space-3 0;
  line-height: 1.5;
}