/*
* Icons
*/

@font-face {
  font-family: 'icons';
  src: url('../icons/icons.eot');
  src: url('../icons/icons.eot#iefix') format('embedded-opentype'),
       url('../icons/icons.woff2') format('woff2'),
       url('../icons/icons.woff') format('woff'),
       url('../icons/icons.ttf') format('truetype'),
       url('../icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="a-icon__"], [class*=" a-icon__"], %a-icon {
  display: inline-block;
  line-height: 1;
  @include font-size($size-icon);
  width: $size-icon + px;
  height: $size-icon + px;
  text-align: center;
}
 
[class^="a-icon__"]:before, [class*=" a-icon__"]:before, %a-icon:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-icon__android:before { content: '\e800'; } /* '' */
.a-icon__right:before { content: '\e801'; } /* '' */
.a-icon__gplus:before { content: '\e802'; } /* '' */
.a-icon__design:before { content: '\e803'; } /* '' */
.a-icon__editable:before { content: '\e804'; } /* '' */
.a-icon__marketable:before { content: '\e805'; } /* '' */
.a-icon__photo:before { content: '\e806'; } /* '' */
.a-icon__colors:before { content: '\e807'; } /* '' */
.a-icon__friendly:before { content: '\e808'; } /* '' */
.a-icon__twitter:before { content: '\f099'; } /* '' */
.a-icon__facebook:before { content: '\f09a'; } /* '' */
.a-icon__pinterest:before { content: '\f0d2'; } /* '' */
.a-icon__linkedin:before { content: '\f0e1'; } /* '' */
.a-icon__youtube:before { content: '\f167'; } /* '' */
.a-icon__apple:before { content: '\f179'; } /* '' */
.a-icon__windows:before { content: '\f17a'; } /* '' */

/* Modifiers */
.a-icon--small {
  @include font-size($size-icon-small);
  width: $size-icon-small + px;
  height: $size-icon-small + px;
}

.a-icon--medium {
  @include font-size($size-icon-medium);
  width: $size-icon-medium + px;
  height: $size-icon-medium + px;
}